@model Almacen.Models.Provedores

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Provedores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empresa" class="control-label"></label>
                <input asp-for="empresa" class="form-control" />
                <span asp-validation-for="empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productos" class="control-label"></label>
                <input asp-for="productos" class="form-control" />
                <span asp-validation-for="productos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contacto" class="control-label"></label>
                <input asp-for="contacto" class="form-control" />
                <span asp-validation-for="contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
